<header>
    <div class="container teal darken-2 center">
        <div class="row">
            <nav class="teal darken-2">
                <div class="col s12">
                    <div class="nav-wrapper container">
                        <ul class="left side-nav">
                            <li><a href="/">Home</a></li>
                            {{#if loggedIn}}
                            <li><a href="../dashboard">Dashboard</a></li>
                            {{/if}}
                        </ul>
                        <ul class="right side-nav">
                            {{#if loggedIn}}
                            <li id="logout-btn"><a>Logout</a></li>
                            {{/if }}
                            {{#unless loggedIn}}
                            <li><a href="../login">Log In</a></li>
                            <li><a href="../signup">Sign-up</a></li>
                            {{/unless}}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
</header>

<div class="container">
    <div class="col s12">
        <div class="card-panel grey lighten-5 z-depth-1">
            <h4 class="teal-text text-darken-2" id='post-title'> {{post.title}}</h4>
            <input id='new-title' type='text' placeholder="{{post.title}}" class="form-control" style="display: none;">
            <p id="post-body">{{post.body}}</p>
            <textarea id='new-body' placeholder="{{post.body}}" cols="30" rows="10" class="form-control"
                style="display: none;"></textarea>
            <p>Posted By {{post.user.username}} on {{date}}</p>
        </div>
    </div>
</div>
{{#if loggedIn}}
<div class="container">
    <div class="row">
        <div class="card-panel grey lighten-5 z-depth-1">
            <form>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Add a reply!</label>
                        <input type="text" id="reply" placeholder="Reply" class="form-control">
                        <button class="btn btn-primary" id='reply-btn'>Reply</button>
                    </div>
                </div>
            </form>
        </div>    
    </div>
</div>
{{/if}}
{{#if post.replies}}
<div class="container">
    <div class="col s12">
        <div class="card-panel grey lighten-5 z-depth-1">
            <h4 class="teal-text text-darken-2 center"> Replies</h4>
            {{#each post.replies}}
            <div class="card-panel grey lighten-5 z-depth-1">
                <h6 class="teal-text"> {{title}}</h6>
                <p>{{body}}</p>
                <p>Posted by {{user.username}} on {{date}}</p>
            </div>
            </a>
            {{/each }}
        </div>
    </div>
</div>
{{/if}}

{{#unless post.replies}}
<div class="container">
    <div class="col s12">
        <div class="card-panel grey lighten-5 z-depth-1">
            <h4 class="teal-text text-darken-2 center">No Replies :(</h4>
        </div>
    </div>
</div>
{{/unless}}

{{#if loggedIn}}
<script src="/js/logout.js"></script>
<script src="/js/reply.js"></script>
{{/if}}